<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>metro.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculateFareServlet</servlet-name>
        <servlet-class>com.CalculateFareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingTicketServlet</servlet-name>
        <servlet-class>com.BookingTicketServletTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketBookingServlet</servlet-name>
        <servlet-class>com.TicketBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiptServlet</servlet-name>
        <servlet-class>com.ReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketHistoryServlet</servlet-name>
        <servlet-class>com.TicketHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MetroDataServlet</servlet-name>
        <servlet-class>admin.MetroDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastTicket</servlet-name>
        <servlet-class>com.GetLastTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculateFareServlet</servlet-name>
        <url-pattern>/calculateFareServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingTicketServlet</servlet-name>
        <url-pattern>/BookingTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketBookingServlet</servlet-name>
        <url-pattern>/TicketBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptServlet</servlet-name>
        <url-pattern>/ReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketHistoryServlet</servlet-name>
        <url-pattern>/TicketHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MetroDataServlet</servlet-name>
        <url-pattern>/MetroDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastTicket</servlet-name>
        <url-pattern>/GetLastTicket</url-pattern>
    </servlet-mapping>
</web-app>
